{% extends "layout.html" %}
{% block content %}

<div id="motor_1_control" style="width:150; height:400; border: solid red; float:left;">
    motor 1
</div>

<img src="http://192.168.1.201:8080/?action=stream" />

<div id="motor_2_control" style="width:150; height:400; border: solid green; float:right;">
    motor 2
</div>

<div id="log">
    log init
</div>

<script>

    // get a handle on the log UI element
    var logView = document.getElementById('log');

    // keep track of the last motor speed for dampening purposes
    var lastM1 = 0;
    var lastM2 = 0;

    // keep track of the touch indexes so we can pick them out of the events
    var m1TouchId = null;
    var m2TouchId = null;

    // utility functions
    function touchIndexById(idToFind, touches) {
      for (var i = 0; i < touches.length; i++) {
        var id = touches[i].identifier;
        
        if (id == idToFind) {
          return i;
        }
      }
      return -1;    // not found
    }

    // network event handler functions
    function m1Response () {
        console.log(this.responseText);
    }

    function m2Response(){
        console.log(this.responseText);
    }

    // network request functions
    function m1Request(val){
        var m1Req = new XMLHttpRequest();
        m1Req.addEventListener("load", m1Response);
        m1Req.open("GET", "/m1/" + val);
        m1Req.send();
    }

    function m2Request(val){
        var m2Req = new XMLHttpRequest();
        m2Req.addEventListener("load", m2Response);
        m2Req.open("GET", "/m2/" + val);
        m2Req.send();
    }

    // control pad events
    function handleM1Move(evt){
        evt.preventDefault();
        if(m1TouchId){
            var val =  Math.floor(100 - (evt.touches[touchIndexById(m1TouchId, evt.touches)].clientY / 4));
            if((val - lastM1) > 5 || (lastM1 - val) > 5){
                lastM1 = val;
                m1Request(val);
            }
        } else {
            m1TouchId = evt.touches[(evt.touches.length - 1)].identifier;
        }
    }

    function handleM1End(evt){
        evt.preventDefault();
        m1TouchId = null;
        // just go back to zero
        m1Request(0);
    }

    function handleM2Move(evt){
        evt.preventDefault();
        if(m2TouchId){
            var val =  Math.floor(100 - (evt.touches[touchIndexById(m2TouchId, evt.touches)].clientY / 4));
            if((val - lastM2) > 5 || (lastM2 - val) > 5){
                lastM2 = val;
                m2Request(val);
            }
        } else {
            m2TouchId= evt.touches[(evt.touches.length - 1)].identifier;
        }
    }

    function handleM2End(evt){
        evt.preventDefault();
        m2TouchId = null;
        // just go back to zero
        m2Request(0);
    }

    // bind UI event handlers
    var motor1Control = document.getElementById('motor_1_control');
    motor1Control.addEventListener('touchmove', handleM1Move, false);
    motor1Control.addEventListener('touchend', handleM1End, false);

    var motor2Control = document.getElementById('motor_2_control');
    motor2Control.addEventListener('touchmove', handleM2Move, false);
    motor2Control.addEventListener('touchend', handleM2End, false);

</script>       
{% endblock %}
